body{
    display : flex;
    flex-direction: column;
    gap:10px;
}

header{
    background: rgb(76, 76, 222);
    height: calc(10vh - 10px);
}

#section2{
    display:flex;
    flex-direction: column;
    gap: 10px
}

.green_rect{
    background: green;
    height: calc(25vh - 10px);
    
}
.orange_rect{
    background: orange;
    height: calc(25vh - 10px);
}

footer{
    display: flex;
    background: red;
    height: calc(10vh - 10px);
    margin-top: -30px;
}

